/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container {
  display: flex;
  flex-direction: column;
  background-color: #f8f8fe;
  min-width: 100%;
  min-height: 100vh;
}

.toolbar {
  z-index: 1;
  opacity: 90%;
  background-color: #f8f8f8;
  width: calc(100vw - 40px);
  height: 48px;
  padding: 4px 20px 2px 25px;
  display: flex;
  align-items: center;
  position: fixed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.nav h2:hover{
  cursor: pointer;
}

.nav .cart {
  position: absolute; 
  right: 0px;
  align-items: center;
  width: 100px;
}

.nav img {
  height: 30px;
}

.nav img:hover {
  cursor: pointer;
}

.content {
  display: flex;
  width: 100vw;
  margin-top: 48px;
}

.sidebar {
  position: fixed;
  left: 0;
  width: calc(25vw - 75px);
  padding: 25px;
  margin-right: 50px;
  /* border-right: 1px solid #e0e0e0; */
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
  }

  .sidebar {
    position: static;
    top: 0px;
    width: calc(100vw - 50px);
    margin-right: 0;
  }

}

.sidebar .search {
  height: 20vh;
  border-bottom: 1px solid #e0e0e0;
  overflow-y: auto;
}

.search .searchbar {
  padding-bottom: 10px;
}

.search .searchbar input {
  background-color: white;
  padding: 10px;
  font-size: 16px;
  width: calc(100% - 22px);
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  outline: none;
  color: black;
  transition: background-color 0.2s ease;
}

.search .searchbar input:hover {
  background-color: #ddd;
}

.search .searchbar input:focus {
  background-color: #ddd;
}

.search .searchbar input::placeholder {
  opacity: 50%;
}

.search .filter {
  padding: 10px 0px 0px;
}

.search .filter h3 {
  margin: 0px;
}

.search .filter ul {
  list-style: none;
  margin-top: 10px;
  padding-left: 0;
}

.search .filter li {
  margin-bottom: 2px;
  font-size: 16px;
}

.search .filter input[type = "checkbox"] {
  margin-right: 10px;
}

.sidebar .sort {
  max-height: 10vh;
  overflow-y: auto;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0px;
}

.sidebar .sort h3 {
  margin: 0px;
  margin-bottom: 10px;
}

.sidebar .sort button {
  padding: 2px;
  margin: 2px;
  font-size: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: transparent;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  transition: background-color 0.1s ease;
}

.sidebar .sort button:hover {
  background-color: #e0e0e0;
}

.sidebar .sort button:focus {
  outline: 1px solid #e0e0e0;
}

.sidebar .sort .selected {
  background-color: #AFBAF5;
  border: 1px solid black;
}

.sidebar .sort .selected:hover {
  background-color: #9f9af5;
}

.sidebar-cart-container {
  height: calc(56vh - 98px);
}

.sidebar-cart {
  position: relative;
  height: 100%;
  /* padding-bottom: 50px; */
}

.sidebar-cart-content {
  position: relative;
  height: 100%;
  /* border: 1px solid pink; */
}

.sidebar-cart-content ul {
  padding-left: 0;
  padding-bottom: 10px;
  height: calc(46vh - 98px);
  max-height: calc(46vh - 98px);
  overflow-y: auto;
  border-bottom: 1px solid black;
}

@media (max-width: 900px) {
  .sidebar-cart-container {
    height: fit-content;
  }

  .sidebar-cart {
    height: fit-content;
  }

  .sidebar-cart-content ul {
    overflow-y: none;
    padding-bottom: 50px;
  }

}

.sidebar-cart-course {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0px;
  /* background-color: blue; */
}

.sidebar-cart-course:hover {
  cursor: grab;
}

.sidebar-cart-course .sidebar-cart-course-title {
  width: 90%;
  overflow-x: auto;
}

.sidebar-cart-course .sidebar-cart-options {
  width: 80px;
  margin-left: 10px;
  opacity: 20%;
  font-size: 20px;
}

.sidebar-cart-course .sidebar-cart-options img {
  width: 20px;
  display: none;
}

.sidebar-cart-course:hover .sidebar-cart-options img {
  display: inline;
  margin-right: 10px;
}

.sidebar-cart-course:hover .sidebar-cart-options .delete:hover {
  cursor: pointer;
}

.sidebar-cart-content .sidebar-submit {
  position: absolute;
  bottom: 5px;
  right: 25px;
  width: calc(100% - 50px);
}

.sidebar-cart-content .sidebar-submit button {
  width: 100%;
  background-color: #0074e4;
  color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #e0e0e0;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.sidebar-cart .sidebar-cart-content .sidebar-submit button:hover {
  background-color: #0054c4;
  cursor: pointer;
}

.sidebar-cart .clear {
  position: absolute;
  right: 0px;
  top: 2px;
  opacity: 50%;
  border: none;
  background-color: transparent;
}

@media (max-width: 1150px) {
  .sidebar-cart .clear {
    position: static;
    padding: 0;
  }
}

.sidebar-cart .clear:hover {
  text-decoration: underline;
  cursor: pointer;
}

.course-list-container {
  width: calc(75vw + 190px);
  margin-left: 50px;
  padding: 20px;
  margin-left: 25vw;
  margin-right: 50px;
}

@media (max-width: 900px) {
  .course-list-container {
    margin-left: 0px;
    width: calc(100vw - 40px);
    margin-right: 0;
  }
}

.course-list-content {
  display: flex; 
  flex-direction: column;
}

.course-list-content .notification {
  z-index: 1;
  position: fixed;
  background-color: #ffc7c7;
  text-align: center;
  top: 80px;
  left: calc(50vw - 90px);
  width: 160px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 10px;
}

.course-list-content .course-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.course-list-content .course-list-header {
  position: relative;
  border-bottom: 1px solid black;
}

.course-list-content .course-list-header button {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  font-size: 16px;
  margin: 0;
  padding: 10px;
  background-color: #fbfbfb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.1s ease;
}

.course-list-content .course-list-header button:hover {
  background-color: #f2f2f2;
}

.course-list .course-item {
  background-color: #fbfbfb;
  height: 100%;
  width: 40%;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 0px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (max-width: 550px) {
  .course-list .course-item {
    width: 100%;
  }
}

.course-item h3 {
  margin-bottom: 10px;
}

.course-item .course-log p {
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
}

.course-item .course-desc {
  max-height: 150px;
  overflow-y: auto;
}

.course-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 10px);
  min-height: 30px;
  height: fit-content;
  margin-top: 5px;
  border-top: 1px solid #e0e0e0;
  padding-top: 3px;
}

.course-options span {
  font-size: 12px;
  padding: 3px;
  border: none;
  border-radius: 5px;
  margin: 5px 3px; 
  background-color: #bbe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-options .high {
  background-color: #beb;
}

.course-options .low {
  background-color: #ebb;
}

.course-options .unavailable {
  background-color: black;
  color: white;
}

.course-options button {
  position: absolute;
  right: 10px;
  bottom: 5px;
  padding: 3px 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #9FE59A;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-options.add button:hover {
  background-color: #7FC57A;
  color: white;
}

.course-options button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #aaa;
}

.course-options.remove button {
  background-color: #ee6767;
  padding: 3px 13px 3px 13px;
}

.course-options.remove button:hover {
  background-color: #b44;
  color: white;
}

.checkout {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  width: calc(100vw - 50px);
  padding: 10px 15px;
  margin: 60px 0px 0px 10px;
  border-radius: 25px;
}

.checkout .exit {
  position: absolute;
  right: 0px;
  top: 30px;
  padding: 16px;
  width: 160px;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.checkout .exit:hover {
  cursor: pointer;
  text-decoration: underline;
}

.checkout .avg {
  display: flex;
  flex-wrap: wrap;
}

.checkout .avg span{
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px 3px; 
  background-color: #bbe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkout .avg .high {
  background-color: #beb;
}

.checkout .avg .low {
  background-color: #ebb;
}

.checkout ul {
  height: 50vh;
  overflow-y: auto;
  margin-top: 0px;
  padding-right: 50px;
  border-top: 1px solid black;
  list-style: none;
}

.checkout-course {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.checkout-course .checkout-course-data {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0px;
  top: 20px;
}

@media (max-width: 1200px) {
  .checkout-course .checkout-course-data {
    position: static;
  }
}

.checkout-course .checkout-course-data span {
  font-size: 12px;
  padding: 3px;
  border: none;
  border-radius: 5px;
  margin: 5px 3px; 
  background-color: #bbe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkout-course .checkout-course-data .high {
  background-color: #beb;
}

.checkout-course .checkout-course-data .low {
  background-color: #ebb;
}

.checkout-course .checkout-course-data .unavailable {
  background-color: black;
  color: white;
}

.checkout .checkout-course:hover {
  cursor: grab;
}

.checkout .confirm {
  width: 240px;
  padding: 16px;
  background-color: #f8d820;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.checkout .confirm:hover {
  cursor: pointer;
  background-color: #d8b820;
}

.checkout .notification {
  display: flex;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 50px;
  padding: 10px 0px;
  left: calc(50vw - 150px);
  width: 300px;
  margin-top: 10px;
  font-size: 20px;
  background-color: #9FE59A;
  color: black;
  border: 1px solid green;
  border-radius: 10px;
}

.checkout .notification img {
  width: 30px;
  padding-right: 5px;
}



